/* General Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://cdn.glitch.global/fc7f7e4a-7f0c-454c-8f15-b9c3212e51f9/thumbnails%2Fxauleh.png?1744891704794');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: 'Arial', sans-serif;
  position: relative;
}

/* Captcha Container */
.captcha-container {
  text-align: center;
  padding: 30px 20px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 444px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.captcha-error {
  color: #d32f2f;
  background-color: #fde7e7;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid #ef9a9a;
  font-size: 14px;
  text-align: center;
}

.captcha-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.3);
}

/* Logo Styling */
.captcha-logo {
  width: 145px;
  margin-bottom: 25px;
  transition: width 0.3s ease;
}

.captcha-logo:hover {
  width: 160px;
}

/* Captcha Input */
#captchaInput {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

/* Button Styling */
button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

/* Loader Animation */
.captcha-loader {
  display: none;
  align-items: center;
  margin-top: 20px;
  border: 6px solid #f3f3f3;
  border-top-color: #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Refresh Link */
.captcha-refresh {
  margin-top: 10px;
}

.captcha-refresh a {
  color: #3498db;
  text-decoration: none;
}

.captcha-refresh a:hover {
  text-decoration: underline;
}
